*{
    padding: 0%;
    margin: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header Styling */

nav *:hover{
    cursor: default;
}
nav{
    position: fixed;
    background-color: #00aa99;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    line-height: 5vh;
    z-index: 1;
}
li{
    width: 100%;
    list-style-type: none;
}
li:hover{
    background-color: burlywood;
    color: cadetblue;
}

a{
    justify-content: center;
    display: flex;
    height: 100%;
    color: white;
    text-decoration: none;
    cursor: auto;
}

/* Login Page , Forms */

form.generic{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 20px auto;     
    background-color: #357465;
    border-radius: 3px;
    position: relative;
    max-width: fit-content;
}
form.generic>h4{
    padding: 10px;
}
form.generic > input, form.generic > select{
    margin: 10px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
}
form.generic > input:focus{
    border: 1px solid blue;
}
form.generic > input[type="submit"]{
    width: fit-content;
    margin: 5px auto;
    font-weight: bold;
}
form.generic > input[type="submit"]:hover{
    background-color: black;
    color: white;
}

/* Footer Styling */

footer{
    background-color: #00aa99;
    color: white;
    position: fixed;
    bottom: 0;
    line-height: 5vh;
    height: 5%;
    width: 100%;
    text-align: center;
}

/* Container */

container{
    position: absolute;
    top: 5%;
    width: 100%;
    height: max-content;
}

/* Take Attendence */

form.sheet{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding-bottom: 40px;
}

label.rollbox{
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    background-color: lightgrey;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    height: 75px;
    width: 150px;
    overflow-wrap: break-word;
    font-size: xxx-large;
    text-align: center;
}

form.selectionbox{
    position: relative;
    top: 0;
    left: 50%;
    margin: 5px;
    width: max-content;
    transform: translateX(-50%);
}

form.selectionbox > select , form.selectionbox > input{
    padding: 5px;
    margin: 5px;
}

form.selectionbox > input{
    border: 1px solid transparent;
    background-color: #ccc;
    width: 100px;
}

form.sheet input[type=submit]{
    grid-column-start: 4;
    height: 50px;
}

div.nm{
    z-index: 1;
    opacity: 0;
    display: block;
    height: 75px;
    padding: 5px;
    width: 150px;
    position: relative;
    top: -90%;
    left: -3%;
    transition: opacity 1s ease;
    font-size: medium;
}

div.nm:hover{
    opacity: 1;
    color: black;
}
label.rollbox:hover{
    color: lightgray;
}
    

/* Checkbox Styling */

.rollbox > input[type="checkbox"]{
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
    opacity: 0;
}
.newcheck{
    position: absolute;
    top: 0;
    left: 0;    
    height: 100%;
    width: 100%;
    background-color: lightcoral;
    opacity: .5;
}

.rollbox:hover input ~ .newcheck{
    background-color:grey;
}

.rollbox input:checked ~ .newcheck{
    background-color: lightgreen;
}

span.greetings{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

/* Final Output */
.finalop, td{
    border: 1px solid black;
    border-spacing: 0px;
    
}