*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-boxfdo;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #ecf0f1;
}

/* Header Styling */


nav{
    position: fixed;
    background-color: #2c3e50;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    z-index: 100;
}

a:not(.logo):hover, a.selected{
    background-color: #34495e;
}

a.logo > p:hover{
    transform: scale(1.1, 1.1);
}

a{
    display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	width: inherit;
	color: white;
    text-decoration: none;
}

a.logo > p{
	font-weight: bolder;
	font-size: x-large;
	border: 1px white solid;
    padding: 5px;
    user-select: none;
    transition: transform 0.5s ease;
}

/* Login Page , Forms */

form.generic{
    display: flex;
    flex-direction: column;
    margin: 20px auto;     
    height: fit-content;
    background-color: #bdc3c7;
    border-radius: 3px;
    position: relative;
    max-width: fit-content;
}
form.generic>h4{
    padding: 10px;
}
form.generic > input, form.generic > select{
    margin: 10px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: whitesmoke;
}
form.generic > input:focus{
    border: 1px solid blue;
}
form.generic > input[type="submit"]{
    width: fit-content;
    margin: 5px auto;
    font-weight: bold;
}
form.generic > input[type="submit"]:hover{
    background-color: black;
    color: white;
}

/* Footer Styling */

footer{
    background-color: #2c3e50;
    color: white;
    position: fixed;
    bottom: 0;
    line-height: 5vh;
    height: 5%;
    width: 100%;
    text-align: center;
    z-index: 100;
}

/* Container */

container{
    position: absolute;
    top: 5%;
    min-height: 90%;
    display: flex;
    align-items: center;
    width: 100%;
    height: max-content;
}

/* Take Attendence */

form.sheet{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block{
    width: 100%;
    margin-bottom: 5%;
}
label.rollbox,div.nm{
    display: flex;
    position: relative;
    cursor: pointer;
    user-select: none;
    background-color: lightgrey;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 100px;
    width: 200px;
    overflow-wrap: break-word;
    font-size: xxx-large;
    text-align: center;
}

form.selectionbox{
    margin: 5px auto;
    width: max-content;
    flex-direction: row;
    padding: 5px;
}

form.selectionbox > select , form.selectionbox > input{
    padding: 5px;
    margin: 5px;
}

form.selectionbox > input{
    border: 1px solid transparent;
    background-color: whitesmoke;
}

form.selectionbox > input[type="submit"]{
    width: 100px;
}

form.sheet input[type=submit]{
    height: 50px;
    width: 100px;
}

div.nm{
    z-index: 1;
    opacity: 0;
    margin: 0;
    position: absolute;
    transition: opacity .5s ease;
    word-break: break-word;
    font-size: medium;
}

div.nm:hover{
    opacity: 0.7;
    color: black;
}
label.rollbox:hover{
    color: lightgray;
}

form.sheet > div:not(.rollbox){
    flex-basis: 100%;
    text-align: center;
}
    

/* Checkbox Styling */

.rollbox > input[type="checkbox"]{
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
    opacity: 0;
}
.newcheck{
    position: absolute;
    top: 0;
    border-radius: 5px;
    left: 0;    
    height: 100%;
    width: 100%;
    background-color: lightcoral;
    opacity: .5;
}

.rollbox:hover input ~ .newcheck{
    background-color:grey;
}

.rollbox input:checked ~ .newcheck{
    background-color: lightgreen;
}

span.greetings{
    font-size: x-large;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Final Output */
.finalop, td, th{
    border: 1px solid black;
    border-spacing: 0px;
    padding: 1px;
}

a.downloadlink{
    cursor: pointer;
    background-color: #2c3e50;
    height: 30px;
    width: max-content;
    padding: 5px;
    margin: 10px auto -5px auto;
}